.notifications {
  display: none;
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  left: 16px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 8px;
  height: 600px;
}

.notification {
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(40px);
  color: white;
  padding: 18px 20px;
  outline: 1px solid #a0a0a0;
  outline-offset: -2px;
  border-radius: 8px;
  width: 350px;
  animation: slide-in ease-out 250ms;
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
}

.notification .text-container {
  display: grid;
  place-items: center;

  p {
    font-family: 'Inria sans', sans-serif;
    font-size: 16px;
  }
}

.notification .name {
  font-weight: 600;
}

.notification div:has(img) {
  aspect-ratio: 1;
  width: 50px;
  overflow: hidden;
  border-radius: 999px;
  border: solid 2px dimgray;
  margin: auto 0;

  img {
    max-height: 100%;
    object-fit: contain;
  }
}

.slide-out {
  animation: slide-out ease-in 250ms;
}

@keyframes slide-in {
  from {
    transform: translateY(75px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }

  to {
    transform: translateX(-400px);
    opacity: 0;
  }
}
