.main {
  flex-direction: column;
  gap: 32px;
}

form {
  max-width: 100%;
}

fieldset {
  max-width: 100%;
  border: none;
}

fieldset legend {
  margin-bottom: 32px;
  font-size: 32px;
  font-weight: 600;
  font-family: 'Inria Sans', sans-serif;
}

.options {
  display: grid;
  grid-template-columns: 1fr;
  gap: 4px;
  max-width: 100%;
}

.option {
  position: relative;
  width: 100%;
  height: 250px;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  border: solid white 2px;
  background-color: white;
  cursor: pointer;
  margin: 0 auto;
}

.option input[type='radio'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.option:has(input[type='radio']:checked) {
  border-color: #2f971c;
}

.option .option-image {
  width: 100%;
  flex-basis: 260px;
  overflow: hidden;
}

.option .option-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.option .option-label {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.25rem;
  font-weight: 600;
  font-family: 'Inria Sans', sans-serif;
  cursor: pointer;
}

.next-question-link {
  display: inline-block;
  padding: 16px 44px;
  background-color: #2f971c;
  text-align: center;
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: 600;
  font-family: 'Inria Sans', sans-serif;
}

html:has(dialog[open]) {
  overflow: hidden;
}

dialog:not([open]) {
  display: none;
}

dialog {
  position: fixed;
  inset: 0;
  margin: 0;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
  width: 100vw;
  height: 100vh;
  display: grid;
  place-items: center;
}

dialog .dialog-content {
  padding: 12px;
  width: min(600px, 100%);
  min-height: 150px;
  background-color: var(--color-primary);
  border: solid var(--color-secondary) 4px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

dialog h2 {
  text-align: center;
  color: black;
}

dialog .buttons {
  width: 100%;
  min-height: 50px;
  display: flex;
  gap: 12px;
}

dialog .buttons button {
  flex-grow: 1;
  background-color: var(--color-secondary);
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-family: 'Inria Sans', sans-serif;
}

dialog .buttons button:hover {
  filter: brightness(1.2);
}

dialog .stars {
  direction: rtl;
  gap: 0;
}

dialog .stars button {
  background-color: transparent;
}

dialog
  .stars
  button:is(:hover, :hover ~ button, .filled, .filled ~ button)
  svg {
  fill: var(--color-secondary);
}

dialog .stars button:is(.filled, .filled ~ button) {
  cursor: initial;
}

dialog .stars button:is(.filled, .filled ~ button):hover {
  filter: none;
}

dialog .stars svg {
  width: 80%;
  color: var(--color-secondary);
  fill: none;
}

.weird-slide-out {
  animation: slide-out-bounce 1s cubic-bezier(0, 0.64, 0.27, 1.39) infinite;
}

@keyframes slide-out-bounce {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(300px);
    opacity: 0.15;
  }
}

@media (min-width: 1024px) {
  fieldset legend {
    font-size: 32px;
  }

  .option {
    height: 100%;
  }

  .option .option-label {
    padding: 1rem;
  }

  .options {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .next-question-link {
    font-size: 32px;
    width: auto;
  }
}
